#Ignored folders and files
/packages
/Gallery/obj
/Gallery/bin
/Gallery.BLL/bin
/Gallery.BLL/obj
/Gallery.DAL/bin
/Gallery.DAL/obj
/.vs
/Gallery/logs
/Gallery/Content/Images
/Testing/FileSystemStorage.Testing/bin
/Testing/FileSystemStorage.Testing/obj
/FileSystemStorage/bin
/FileSystemStorage/obj