@using Gallery.BLL.Interfaces
@using Gallery.BLL.Services
@using Gallery.DAL.InterfaceImplementation
@using Gallery.DAL.Models
@if (User.Identity.IsAuthenticated)
{
    IUsersService _usersService = new UserService(new UsersRepository(new UserContext()));
    var userName = _usersService.GetNameUsers(Convert.ToInt32(User.Identity.Name));

    <li>@Html.ActionLink("Hi, " + userName + "!", "Index")</li>
    <li>@Html.ActionLink("Sign out", "LoginOut", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
    <li>@Html.ActionLink("Sign up", "Register", "Account")</li>
}
